.top-div{
    display: flex;
}
.chemistry-thum{
    /* border: 2px solid yellow; */
    text-align: center;
    justify-content: center;
    display: flex;
    
}
.chemistry-thum img{
    height: 80%;
    width: 92%;
    border-radius: 10px;
    border: 1px solid #5252ff;
    box-shadow: rgb(80 38 230) 5px 3px 13px 1px;
}
#feedback-btn{
    padding: 0.5rem 1rem;
    background: #0008ff;
}
/* popper ebook */
#popper {
    padding: 1.5rem;
    display: none;
}

/* responsive */
@media(max-width: 992px) {
    .chemistry-thum img{
        height: 80%;
        width: 90%;
        margin-top: 2rem;
    }

    
}
@media(max-width: 768px) {
    #top-div{
        display: flex;
        /* border: 2px solid green; */
        flex-direction: column-reverse;
    }
    #top-div h1{
        font-size: 2rem;
    }
    [dir] .text-center {
        text-align: center!important;
    }
    
    [dir] .pb-64pt, [dir] .py-64pt {
        padding-bottom: 2rem!important;
    }
    [dir] .pt-64pt, [dir] .py-64pt {
        padding-top: 2rem!important;
    }
    .chemistry-thum img{
        margin-top: 0;
        height: 100%;
        width: 85%;
        /* border: 2px solid red; */
    }
    
}
/* @medie(max-width: 768px){
   .top-div{
       display: flex;
       text-align: center;
       justify-content: center;
       flex-direction: column;
       flex-row: row reverse;
   }

} */